<div class="tasks">
    <div class="task-heading">All Tasks</div>
    <!-- <div class="button-grp">
        <button class="update-btn" (click)="changeType('personal')">Personal Tasks</button>
        <button class="update-btn" (click)="changeType('leader')">Leader Tasks</button>
        <button class="update-btn" (click)="changeType('global')">Global Tasks</button>
    </div> -->
    <div class="add-task" (submit)="addtask($event)">
        <button class="new-task" (click)="toggleForm = !toggleForm">Add New Task +</button>
        <form *ngIf="toggleForm">
            <div class="form-heading">Add New Task</div>
            <div class="form-group">
                <label for="name">Enter Name</label>
                <input id="name" name="name" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="task">Enter Task</label>
                <input id="task" name="task" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="type">Enter type</label>
                <input id="type" name="type" type="text" class="form-control" placeholder="eg: Personal, Leader, Global" required>
            </div>
            <div class="form-group">
                <label for="start">From</label>
                <input id="start" name="start" type="text" class="form-control" placeholder="YYYY-MM-DD" required>
            </div>
            <div class="form-group">
                <label for="end">To</label>
                <input id="end" name="end" type="text" class="form-control" placeholder="YYYY-MM-DD" required>
            </div>
            <button type="submit" >Submit</button>
        </form>
    </div>
    <hr>
    <div class="all-tasks">
        
        <p-table class="table" [value]="tasks" [paginator]="true" [rows]="4" sortMode="multiple"
            [(selection)]="selectedTasks" 
            [globalFilterFields]="['text','creator']" [rowsPerPageOptions]="[4,8]" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="text" >Tasks
                        
                    </th>
                    <th pSortableColumn="creator" style="width:20%" >Name 
                        <p-columnFilter type="text" field="creator" display="menu"></p-columnFilter>
                        <p-sortIcon field="creator"></p-sortIcon></th>
                    <th>Type</th>
                    <th>Status </th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>
                        <p-tableRadioButton [value]="task"></p-tableRadioButton>
                    </td>
                    <td>{{task.text}}</td>
                    <td>{{task.creator}}</td>
                    <td *ngIf="task.isGlobal == true && task.isLeader == false" class="global-task">Global</td>
                    <td *ngIf="task.isGlobal == false && task.isLeader == false" class="personal-task">Personal</td>
                    <td *ngIf="task.isLeader == true " class="leader-task">Leader</td>
                    <td *ngIf="task.isCompleted == true" [class]="complete"><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: palegreen;color:rgb(42, 126, 42);
                        letter-spacing: 1px;
                        border:2px solid green;">Complete</span></td>
                    <td *ngIf="task.isCompleted == false" [class]="incomplete" ><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: rgb(232, 146, 163);color:rgb(120, 33, 33);
                        letter-spacing: 1px;
                        border:2px solid crimson;">Incomplete</span></td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption" >
                <button class="update-btn" (click)="update()">Mark as Completed</button>
            </ng-template>
        </p-table>
    </div>
</div>