<div class="home">
    <div class="leader">
        <div class="widget-heading">Leader Tasks</div>
        <div class="widget-body">
            <p-table class="table" [value]="leader" [paginator]="true" [rows]="2" sortMode="multiple"
           
            [globalFilterFields]="['text','creator']" [rowsPerPageOptions]="[4,8]" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="text" >Tasks
                        
                    </th>
                    <th pSortableColumn="creator" style="width:20%" >Name 
                        <p-columnFilter type="text" field="creator" display="menu"></p-columnFilter>
                        <p-sortIcon field="creator"></p-sortIcon></th>
                    <th>Type</th>
                    <th>Status </th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{task.text}}</td>
                    <td>{{task.creator}}</td>
                    <td *ngIf="task.isGlobal == true && task.isLeader == false" class="global-task">Global</td>
                    <td *ngIf="task.isGlobal == false && task.isLeader == false" class="personal-task">Personal</td>
                    <td *ngIf="task.isLeader == true " class="leader-task">Leader</td>
                    <td *ngIf="task.isCompleted == true" [class]="complete"><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: palegreen;color:rgb(42, 126, 42);
                        letter-spacing: 1px;
                        border:2px solid green;">Complete</span></td>
                    <td *ngIf="task.isCompleted == false" [class]="incomplete" ><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: rgb(232, 146, 163);color:rgb(120, 33, 33);
                        letter-spacing: 1px;
                        border:2px solid crimson;">Incomplete</span></td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
    <hr>
    <div class="personal">
        <div class="widget-heading">Personal Tasks</div>
        <div class="widget-body">
            <p-table class="table" [value]="personal" [paginator]="true" [rows]="2" sortMode="multiple"
           
            [globalFilterFields]="['text','creator']" [rowsPerPageOptions]="[4,8]" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="text" >Tasks
                        
                    </th>
                    <th pSortableColumn="creator" style="width:20%" >Name 
                        <p-columnFilter type="text" field="creator" display="menu"></p-columnFilter>
                        <p-sortIcon field="creator"></p-sortIcon></th>
                    <th>Type</th>
                    <th>Status </th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{task.text}}</td>
                    <td>{{task.creator}}</td>
                    <td *ngIf="task.isGlobal == true && task.isLeader == false" class="global-task">Global</td>
                    <td *ngIf="task.isGlobal == false && task.isLeader == false" class="personal-task">Personal</td>
                    <td *ngIf="task.isLeader == true " class="leader-task">Leader</td>
                    <td *ngIf="task.isCompleted == true" [class]="complete"><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: palegreen;color:rgb(42, 126, 42);
                        letter-spacing: 1px;
                        border:2px solid green;">Complete</span></td>
                    <td *ngIf="task.isCompleted == false" [class]="incomplete" ><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: rgb(232, 146, 163);color:rgb(120, 33, 33);
                        letter-spacing: 1px;
                        border:2px solid crimson;">Incomplete</span></td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
    <hr>
    <div class="global">
        <div class="widget-heading">Global Tasks</div>
        <div class="widget-body">
            <p-table class="table" [value]="global" [paginator]="true" [rows]="2" sortMode="multiple"
           
            [globalFilterFields]="['text','creator']" [rowsPerPageOptions]="[4,8]" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="text" >Tasks
                        
                    </th>
                    <th pSortableColumn="creator" style="width:20%" >Name 
                        <p-columnFilter type="text" field="creator" display="menu"></p-columnFilter>
                        <p-sortIcon field="creator"></p-sortIcon></th>
                    <th>Type</th>
                    <th>Status </th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{task.text}}</td>
                    <td>{{task.creator}}</td>
                    <td *ngIf="task.isGlobal == true && task.isLeader == false" class="global-task">Global</td>
                    <td *ngIf="task.isGlobal == false && task.isLeader == false" class="personal-task">Personal</td>
                    <td *ngIf="task.isLeader == true " class="leader-task">Leader</td>
                    <td *ngIf="task.isCompleted == true" [class]="complete"><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: palegreen;color:rgb(42, 126, 42);
                        letter-spacing: 1px;
                        border:2px solid green;">Complete</span></td>
                    <td *ngIf="task.isCompleted == false" [class]="incomplete" ><span style="font-size:1em;
                        padding:5px 15px;border-radius:10px;background-color: rgb(232, 146, 163);color:rgb(120, 33, 33);
                        letter-spacing: 1px;
                        border:2px solid crimson;">Incomplete</span></td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>